<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Upload Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc."
          name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon"
          href="../../base/static/adminResources/image/favicon.ico">

    <!-- App css -->
    <link href="../../static/adminResources/css/bootstrap.min.css"
          rel="stylesheet" type="text/css" id="bs-default-stylesheet"/>
    <link href="../../static/adminResources/css/app.min.css" rel="stylesheet"
          type="text/css" id="app-default-stylesheet"/>

    <link href="../../static/adminResources/css/bootstrap-dark.min.css"
          rel="stylesheet" type="text/css" id="bs-dark-stylesheet"/>
    <link href="../../static/adminResources/css/app-dark.min.css"
          rel="stylesheet" type="text/css" id="app-dark-stylesheet"/>

    <!-- icons -->
    <link href="../../static/adminResources/css/icons.min.css" rel="stylesheet"
          type="text/css"/>

    <script type="text/javascript">

        function loadCrossroad() {
            var crossroad_area_id = document.getElementById("area_id");
            var camera_crossroad_id = document.getElementById("crossroad_id");

            camera_crossroad_id.innerHTML = "";

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4) {

                    var json = JSON.parse(ajax.responseText);

                    for (var i = 0; i < json.length; i++) {

                        var option = document.createElement("option");
                        option.value = json[i].crossroad_id;
                        option.text = json[i].crossroad_name;
                        camera_crossroad_id.options.add(option);
                    }
                }
            };
            ajax.open("get", "/ajax_select_crossroad?crossroad_area_id=" +
                crossroad_area_id.value, true);
            ajax.send();
        }

        function loadCamera() {
            var area_id = document.getElementById("area_id");
            var crossroad_id = document.getElementById("crossroad_id");
            var camera_id = document.getElementById("camera_id");

            camera_id.innerHTML = "";

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4) {

                    var json = JSON.parse(ajax.responseText);

                    for (var i = 0; i < json.length; i++) {

                        var option = document.createElement("option");
                        option.value = json[i].camera_id;
                        option.text = json[i].camera_name;
                        camera_id.options.add(option);
                    }
                }
            };
            ajax.open("get", "/ajax_select_camera?crossroad_id=" +
                crossroad_id.value, true);
            ajax.send();
        }


    </script>

</head>

<body class="loading">

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    {% include 'admin/header.html' %}
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    {% include 'admin/menu.html' %}
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">

                            </div>
                            <h4 class="page-title">Vehicle
                                Detection</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->


                    <div class="col-lg-6">
                        <div class="card">
                            <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
                <!-- end row -->


                {#                                    <form action="/detect_video"#}
                {#                                          method="post">#}
                <form class="cmxform" method="post" action="/detect_video"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="crossroad">Area:</label>
                        <select
                                name="crossroad_area_id"
                                id="area_id"
                                class="form-control"
                                required="" onchange="loadCrossroad()">
                            <option selected="selected">
                                select
                                Area
                            </option>
                            {% for i in area_vo_list %}

                                <option
                                        name="{{ i['area_id'] }}"
                                        value="{{ i['area_id'] }}">{{ i['area_name'] }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="crossroad ">Crossroad:</label>
                        <select name="camera_crossroad_id"
                                id="crossroad_id"
                                class="form-control"
                                required=""
                                onclick="loadCamera()">
                            <option selected="selected">
                                select
                                crossroad
                            </option>
                            {% for crossroad in crossroad_vo_list %}
                                {% if camera_vo_list[0]['camera_crossroad_id']==crossroad['crossroad_id'] %}
                                    <option selected="selected"
                                            value="{{ crossroad['crossroad_id'] }}">{{ crossroad['crossroad_name'] }}</option>
                                {% else %}
                                    <option
                                            value="{{ crossroad['crossroad_id'] }}">{{ crossroad['crossroad_name'] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Camera">Camera:</label>
                        <select name="camera_id"
                                id="camera_id"
                                class="form-control"
                                required="">
                            <option selected="selected">
                                select
                                camera
                            </option>
                            {% for camera in camera_vo_list %}
                                {% if camera[0]['camera_crossroad_id']==camera['camera_id'] %}
                                    <option selected="selected"
                                            value="{{ camera['camera_id'] }}">{{ camera['camera_name'] }}</option>
                                {% else %}
                                    <option
                                            value="{{ camera['camera_id'] }}">{{ camera['camera_name'] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>


                    <fieldset>
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="example-fileinput"
                                       class="form-label">Upload Video
                                </label>
                                <input type="file"
                                       name="input_video" id="example-fileinput"
                                       class="form-control">
                            </div>
                        </div>

                        <button
                                class="btn btn-primary d-flex align-items-center"
                                type="submit" style="background:
                                                    #d13abd;
                                                    border: #d13abd; color: black">
                            <i class="mdi mdi-crosshairs mr-1"></i>
                            <span>Detect</span>
                        </button>
                    </fieldset>

                    {#                <fieldset>#}
                    {#                                        <div class="form-group">#}
                    {#                                            <input type="file"#}
                    {#                                                   name="input_video"#}
                    {#                                                   class="file-upload-default">#}
                    {#                                            <div class="input-group col-xs-12">#}
                    {#                                                <input type="text"#}
                    {#                                                       class="form-control file-upload-info"#}
                    {#                                                       disabled=""#}
                    {#                                                       placeholder="Upload Video"#}
                    {#                                                       fdprocessedid="ldx84m"#}
                    {#                                                       name="video_name" >#}
                    {#                                                <span class="input-group-append">#}
                    {#                                            <button class="file-upload-browse btn btn-primary"#}
                    {#                                                    type="button"#}
                    {#                                                    fdprocessedid="lhqgoc"#}
                    {#                                                    style="background:#}
                    {#                                                    #d13abd;#}
                    {#                                                    border: #d13abd; color: black">#}
                    {#                                                Upload</button>#}
                    {#                                            </span>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {##}
                    {#                                        <button#}
                    {#                                                class="btn btn-primary d-flex align-items-center" type="submit" style="background:#}
                    {#                                                    #d13abd;#}
                    {#                                                    border: #d13abd; color: black">#}
                    {#                                            <i class="mdi mdi-crosshairs mr-1"></i>#}
                    {#                                            <span>Detect</span>#}
                    {#                                        </button>#}
                    {#                                    </fieldset>#}
                </form>


            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->


</div> <!-- container -->

</div> <!-- content -->

<!-- Footer Start -->


{% include 'admin/footer.html' %}


<!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->


</div>
<!-- END wrapper -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- Vendor js -->
<script src="../../static/adminResources/js/vendor.min.js"></script>
<script src="../../static/adminResources/js/head.js"></script>

<!-- App js -->
<script src="../../static/adminResources/js/app.min.js"></script>

<!-- Plugin js-->
<script src="../../static/adminResources/js/parsley.min.js"></script>

<!-- Validation init js-->
<script src="../../static/adminResources/js/form-validation.init.js"></script>

</body>
</html>