<div class="left-side-menu">
    <div class="h-100" data-simplebar>
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul id="side-menu">

                {##################### Home #####################}
                <li>
                    <a href="/index">
                        <i class="mdi mdi-home"></i>
                        <span> Home </span>
                    </a>
                </li>

                {##################### Manage Area #####################}
                <li>
                    <a href="#manageArea" data-toggle="collapse">
                        <i class="mdi mdi-map"></i>
                        <span> Manage Area </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="manageArea">
                        <ul class="nav-second-level">
                            <li>
                                <a href="/add_area">Add Area</a>
                            </li>
                            <li>
                                <a href="/view_area">View Area</a>
                            </li>
                        </ul>
                    </div>
                </li>


                {##################### Manage Cross Road #####################}
                <li>
                    <a href="#manageCrossRoad" data-toggle="collapse">
                        <i class="mdi mdi-traffic-light"></i>
                        <span> Manage Cross Road </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="manageCrossRoad">
                        <ul class="nav-second-level">
                            <li>
                                <a href="/add_crossroad">Add Cross Road</a>
                            </li>
                            <li>
                                <a href="/view_crossroad">View Cross Road</a>
                            </li>
                        </ul>
                    </div>
                </li>

                {##################### Manage Camera #####################}
                <li>
                    <a href="#sidebarTickets" data-toggle="collapse">
                        <i class="mdi mdi-cctv"></i>
                        <span>Manage Camera</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarTickets">
                        <ul class="nav-second-level">
                            <li>
                                <a href="/add_camera">Add Camera</a>
                            </li>
                            <li>
                                <a href="/view_camera">View Camera</a>
                            </li>
                        </ul>
                    </div>
                </li>

                {##################### Vehicle Detect #####################}

                <li>
                    <a href="/upload_video">
                        <i class="mdi mdi-barcode-scan"></i>
                        <span> Vehicle Detect</span>
                        {#                        <span class="menu-arrow"></span>#}
                    </a>
                    {#                    <div class="collapse" id="sidebarEcommerce">#}
                    {#                        <ul class="nav-second-level">#}
                    {#                            <li>#}
                    {#                                <a href="/select_area">select Area</a>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <a href="/add_video">Upload Video</a>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </div>#}
                </li>

                <li>
                    <a href="/view_history">
                        <i class="fa fa-history" style="font-size:17px;"></i>
                        <span> History </span>
                    </a>
                </li>

                <li>
                    <a href="/about">
                        <i class="fa fa-info-circle"
                           style="font-size:17px"></i>
                        <span> About </span>

                    </a>
                </li>


                <li>
                    <a href="/admin/logout_session">
                        <i class="fe-log-out"></i>
                        <span> Logout </span>
                    </a>

                </li>
            </ul>
        </div>
        <!-- End Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>